html, body {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(212deg, rgba(162,159,103,1) 0%, rgba(121,120,102,1) 51%, rgba(55,55,55,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
        sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}